.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.completed-task {
  opacity: 0.5;
}

.task {
  font-weight: bold;
}

.filter-header {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  margin-left: 20px;
  font-size: 12px;
  background-color: darkslategray;
  color: white;
  min-width: 30px;
  text-align: center;
}

.button-active {
  color: white;
  background-color: darkslategray;
}

.empty-list {
  font-size: 13px;
  color: darkred;
}

.error {
  outline: none;
  border: 2px solid red;
}